.anno-comment-page {
  padding: 0 8px;
  box-sizing: border-box;

  &::before {
    content: attr(aria-label);
    display: block;
    margin: 20px 0 8px;
    font-size: 14px;
    line-height: 22px;
  }

  .comment-card {
    margin-bottom: 8px;
    padding: 8px;
    background: #fff;
    border: 1px solid rgba(13, 13, 13, .12);
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;

    &.is-selected {
      border-color: rgba(30, 95, 199, 1);
    }
  }

  .comment-card-main-content {
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      width: 14px;
      height: 14px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.type-strikethrough::before {
      background-image: var(--editor-toolbar-strikethrough-image);
    }
    &.type-underline::before {
      background-image: var(--editor-toolbar-underline-image);
    }
    &.type-highlight::before {
      background-image: var(--editor-toolbar-highlight-image);
    }

    &.type-underline .comment-title-wrap {
      text-decoration: underline;
      text-underline-position: under;
    }
  }

  .comment-title-wrap {
    display: block;
    font-size: 14px;
    line-height: 22px;
    max-height: 66px;
    overflow: hidden;
    box-sizing: border-box;

    &.type-strikethrough {
      text-decoration: line-through;
    }
  }

  .comment-title {
    color: #3d4757;
    box-sizing: border-box;
  }

  .comment-card-main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0 16px 20px;
    font-size: 14px;
    line-height: 22px;
    margin-top: 4px;

    .comment-user {
      margin-right: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: rgba(13, 13, 13, .66);
    }

    .comment-time {
      color: rgba(13, 13, 13, .46);
      text-align: right;
      white-space: nowrap;
    }
  }
}
